/*CSS Link*/
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.nav .logo{
    margin-left: 120px;
    margin-top: 16px;
    height: 40px;
    width: 160px;
}


.nav .btn1{
    background-color: rgba(70, 145, 101, 1);
    width: 164px;
    height: 44px;
    margin-top: 24px;
    margin-right: 120px;
    color: white;
    font-size: 16px;
    font-style: Semi Bold;
    font-weight: 600;
    align-items: center;
    border-radius: 4px;
    border: none;
}

.nav .option .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin-top: 34px;
}

.nav .option .menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-style: Medium;
    text-transform: capitalize;
    font-family: Inter;
    line-height: 152%;
    margin-top: 34px;
}

.hero {
  width: 100%;
  height: 80vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 50px;
}



.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px 24px;
  color: #ffffff;
  align-items: center;
  text-align: center
}

.hero-content h1 {
  font-size: 56px;
  line-height: 1.2;
}

.hero-content p {
  margin-top: 16px;
font-size: 18px;
font-weight: 400;
font-style: Regular;
font-family: Inter;
}

.hero-content h1 span {
  color: #22c55e;
}

.ea-button{
    margin-top: 115px;
    margin-bottom: 16px;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #469165;
    background-color: #ffffff;
    display:flex ;
    align-items: center;
    gap: 6px;
    width: 225px;
    height: 30px;
    justify-content: center; 
    margin-left: 432px;
    line-height: 19px;

} 

.ea-button h3{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    align-items: center;
}

.ea-button .green-circles{
  margin-top: 5px;
  margin-right: 3px;

}
.cta-button{
    display: flex;
    gap: 16px;
    margin-left: 350px;
    margin-top: 32px;
}
.btn2{
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

}

.btn3{
    background-color: transparent;
    border: 1px white;
    border-style:solid;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

}


.note-section h1{
    margin-left: 120px;
    margin-top: 110px;
    font-size: 48px;
    font-style: bold;
    text-align: center;
    align-items: center;
    color: #001931;
}

.note-section p{
    margin-left: 120px;
    margin-top: 16px;
    font-size: 18px;
    font-style: Regular;
    text-align: center;
    align-items: center;
    color: #001931;

}

.cards-main {
  display: flex;
  flex-direction: row;    
  gap: 24px;  
  margin-top: 80px;
  margin-left: 120px;
}

.card-container {
  width: 322px;
  height: 300px;
  padding: 48px 32px;
  text-align: center;
    background: rgba(255, 255, 255, 1);
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  
}

.icon-circle {
  width: 48px;
  height: 48px;
  background: #ff4d4f;
  border-radius: 50%;
  margin: 0 auto 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle img {
  width: 26px;
  height: 26px;
}

.card-container h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.card-container p {
  font-size: 16px;
  margin-top: 16px;
color: rgba(98, 115, 130, 1);
}

.brain-section{
  display: flex;
  align-items: center;
  gap: 75px;
  margin-left: 250px;
  align-items: center;
  max-width: 1600px;
  height: auto;
  background: rgba(255, 255, 255, 1);;
}

.brain-content h4{
  color: #469165;
}

.brain-content h2{
  margin-top: 16px;
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
}

.brain-content .p1{
  margin-top: 16px;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
}

.check{
  margin-top: 40px;
}

.check .p3{
  margin-top: 16px;
}
.check .p4{
  margin-top: 16px;
}
.check .p5{
  margin-top: 16px;
}

.brain-image{
  width: 600px;
  height: 600px;
}

.early-access{
  width: 1360px;
height: 384px;
background: rgba(247, 246, 242, 1);
margin-left: 275px;
margin-top: 122px;
text-align: center;
align-items: center;
}

.main-content h1{
margin-top: 80px;
padding-top: 80px;
}
.main-content .p6{
padding-top: 16px;
color: #627382;
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}

.main-content .m-btn{
  width: 194px;
height: 52px;
margin-top: 24px;
background-color: #469165;
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-transform: capitalize;
}
.p7{
  padding-top: 16px;
  font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
}

.footer{
  margin-top: 120px;
  background-color: #001931;
  max-width: 100%;
  height: 348px;
justify-content: space-around;
}

.f-logo{
  padding-top: 120px;
  margin-left: 120px;
}

.social-logo{
  color: white;
  font-family: Inter;
font-style: Medium;
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0%;
margin-left: 1260px;
margin-top:-48px;
}
.social-links{
  gap: 16px;
  margin-top: 16px;
}

.p10{
color: white;
padding-top: 110px;
text-align: center;
padding-left: 50px;
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}