/*CSS Link*/
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.nav .logo{
    margin-left: 120px;
    margin-top: 16px;
    height: 40px;
    width: 160px;
}


.nav .btn1{
    background-color: rgba(70, 145, 101, 1);
    width: 164px;
    height: 44px;
    margin-top: 24px;
    margin-right: 120px;
    color: white;
    font-size: 16px;
    font-style: Semi Bold;
    font-weight: 600;
    align-items: center;
    border-radius: 4px;
    border: none;
}

.nav .option .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin-top: 34px;
}

.nav .option .menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-style: Medium;
    text-transform: capitalize;
    font-family: Inter;
    line-height: 152%;
    margin-top: 34px;
}
