/*CSS Link*/
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.nav .logo{
    margin-left: 120px;
    margin-top: 16px;
    height: 40px;
    width: 160px;
}


.nav .btn1{
    background-color: rgba(70, 145, 101, 1);
    width: 164px;
    height: 44px;
    margin-top: 24px;
    margin-right: 120px;
    color: white;
    font-size: 16px;
    font-style: Semi Bold;
    font-weight: 600;
    align-items: center;
    border-radius: 4px;
    border: none;
}

.nav .option .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    margin-top: 34px;
}

.nav .option .menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-style: Medium;
    text-transform: capitalize;
    font-family: Inter;
    line-height: 152%;
    margin-top: 34px;
}

/*.banner .badge{
    display: flex;
    gap: 6px;
    margin-top: 205px;
    margin-left:566px ; 
    background-color: white;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    text-align: center;
    align-items: center;
    font-size: 16px;
}
*/
.hero {
  width: 100%;
  height: 80vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 55px;
}



.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1100px;
  margin: 0 auto;
  padding: 120px 24px;
  color: #ffffff;
  align-items: center;
  text-align: center
}

.hero-content h1 {
  font-size: 56px;
  line-height: 1.2;
}

.hero-content p {
  margin-top: 16px;
font-size: 18px;
font-weight: 400;
font-style: Regular;
font-family: Inter;
}

.hero-content h1 span {
  color: #22c55e;
}

.ea-button{
    margin-top: 115px;
    margin-bottom: 16px;
    padding: 8px 12px;
    border-radius: 1000px;
    color: #469165;
    background-color: #ffffff;
    display:flex ;
    align-items: center;
    gap: 6px;
    width: 225px;
    height: 30px;
    justify-content: center; 
    margin-left: 432px;
    line-height: 19px;

} 

.ea-button h3{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    align-items: center;
}

.ea-button .green-circles{
  margin-top: 5px;
  margin-right: 3px;

}
.cta-button{
    display: flex;
    gap: 16px;
    margin-left: 350px;
    margin-top: 32px;
}
.btn2{
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

}

.btn3{
    background-color: transparent;
    border: 1px white;
    border-style:solid;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

}


.note-section h1{
    margin-left: 120px;
    margin-top: 110px;
    font-size: 48px;
    font-style: bold;
    text-align: center;
    align-items: center;
    color: #001931;
}

.note-section .gg{

}

.cards .icon{
    background-image: url(./assets/back.png);
    background-repeat: no-repeat;
    justify-content: center;
    
}